.container {
    display:flex;
    align-items: center;
    justify-content: center;
}

.container.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 70px auto 10px auto;
}

header img {
    width: 500px;
}

figcaption{
    position: relative;
    left: 150px;
}