.container.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content h2{
    margin: 2px;
}

.content a {
    margin-top: 16px;
}

a {
    text-decoration: none;
    color: initial;
}

a:hover {
    cursor: pointer;
    color: blue;
}


.links a {
    padding: 5px;
    font-weight: 700;
    color: initial;
    text-decoration: none;
    border: 1px solid black;
    background-color: #d3d3d3;
}

.links a:hover{
    background-color: red;
}

.button-interation{
    margin-top: 40px;
    padding: 5px;
    font-weight: 700;
    color: initial;
    text-decoration: none;
    border: 1px solid black;
    background-color: #d3d3d3;
}

.button-interation:hover{
    cursor: pointer;
    background-color: yellow;
}